/*
COLORS:
#5C3317 - Dark Brown
#804720 - Brown
#F7A26C - Tangerine
#CCAF9D - Desert Sand
#E76A1A - Spanish Orange
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

}

header {
    background-color: #804720;
}

h1 {

}

h2 {

}

blockquote {

}

main {
    
}

#container {
    padding: 3% 0;
    margin: 0 auto;
    width: 80%;
    min-height: 500px;
    font-size: 2em;
    background-color: #5C3317;
    color: #E76A1A;
}

table {

}

footer {
    background-color: #804720;
}

footer nav {
    background-color: #804720;
}