/*
COLORS:
#5C3317 - Dark Brown
#804720 - Brown
#F7A26C - Tangerine
#CCAF9D - Desert Sand
#E76A1A - Spanish Orange
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #5C3317;
}

header {
    background-color: #804720;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: #E76A1A;
}

h2 {

}

blockquote {

}

main {
    
}

#container {
    padding: 3% 0;
    margin: 0 auto;
    width: 80%;
    min-height: 500px;
    font-size: 2em;
    background-color: #5C3317;
    color: #E76A1A;
}

table {

}

.catImg1 {
    float: right;
    padding: 10px;
}

.greycatIMG {
    float: right;
    padding: 10px;
}

.catwalkingImg {
    float: right;
    padding: 10px;
}

footer {
    background-color: #804720;
}

footer nav {
    background-color: #804720;
}

footer nav ul {

}

footer nav ul li {

}

footer nav ul li a {

}

footer nav ul li:hover {

}

footer nav ul li a:hover {

}