/*
COLORS:
#5C3317 - Dark Brown
#804720 - Brown
#F7A26C - Tangerine
#CCAF9D - Desert Sand
#E76A1A - Spanish Orange
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #5C3317;
}

header {
    background-color: #804720;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: #E76A1A;
}

h2 {

}

blockquote {

}

main {
    
}

#container {
    padding: 3% 0;
    margin: 0 auto;
    width: 80%;
    min-height: 500px;
    font-size: 2em;
    background-color: #5C3317;
    color: #E76A1A;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 1em;
    border-color: #F7A26C;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

input {
    height: 2em;
    width: 17em;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
    font-weight: bold;
    background-color: #F7A26C;
    color: #5C3317;
    border: 5px double black;
}

.frmButton {
    width: 10em;
}

.frmButton:active {
    background-color: #E76A1A;
    color:#5C3317;
}

.catImg1 {
    float: right;
    padding: 10px;
}

.greycatIMG {
    float: right;
    padding: 10px;
}

.catwalkingImg {
    float: right;
    padding: 10px;
}

.catlooking {
    float: right;
    padding: 10px;
}

.catlayingdown {
    float: left;
    padding: 10px;
    height: 500px;
    width: 550px;
}

.kittyLaptop {
    float: right;
    padding: 10px;
}

.catwalkingImg2 {
    float: right;
    padding: 10px;
    height: 400px;
    width: 450px;
}

footer {
    background-color: #804720;
    text-align: center;
}

footer nav {
    background-color: #804720;
    padding: 5px 0;
    width: 100%;
    min-height: 50px;
}

footer nav ul {
    background-color: #804720;
    display: block;
    text-align: center;
}

footer nav ul li {
    display: inline-block;
    list-style: none;
    width: 15%;
    background-color: #804720;
    margin-top: .8%;
}

footer nav ul li a {
    text-decoration: none;
    font-size: 1.5em;
    color: #E76A1A
}

footer nav ul li:hover {
    background-color: #F7A26C;
    text-decoration: underline;
}